.page-header {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    
    padding:25px 10px;

}

.page-header__title{

    font-size:30px;
    
}

.page-header__icons span{

    margin-left:25px;
}

